@use "./markdown.scss";
@reference "../../../../styles/index.css";

.bytemd {
    height: calc(100vh - 200px);
    border: none;
    z-index: 99999;
    background-color: #fff;
    color: #000;
    .dark & {
        background-color: var(--color-boxdark);
        color: #fff;
    }

    .bytemd-toolbar {
        background-color: transparent;
        .dark & {
            border-color: var(--color-strokedark);
        }
    }

    .bytemd-preview {
        .dark & {
            border-color: var(--color-strokedark);
        }
    }

    .bytemd-status {
        .dark & {
            border-color: var(--color-strokedark);
        }
    }

    .CodeMirror {
        background-color: #fff;
        color: #000;
        .dark & {
            background-color: var(--color-boxdark);
            color: #fff;
        }
    }

    .icon {
        .dark & {
            fill: #fff;
        }
    }
}