@use '@/styles/var' as *;

:target::before {
  content: '';
  display: block;
  height: 80px;
}

.ContentNavSidebar {
  @apply sticky top-[90px] w-[220px] shrink-0 h-[calc(100vh-110px)] overflow-hidden
         bg-transparent dark:bg-transparent backdrop-blur-none rounded-none border-none
         shadow-none flex flex-col mt-[160px] ml-[-40px];

  .nav_item::before {
    @apply content-[''] -left-2.5 absolute top-1/2 -translate-y-1/2 w-1 h-[15px] rounded-[20px] bg-primary transition-transform;
  }

  @for $i from 1 through 6 {
    .h#{$i} {
      padding-left: #{15 + $i * 10}px;

      &.active {
        padding-left: #{25 + $i * 10}px;

        &::before {
          left: #{10 + $i * 10}px;
        }
      }
    }
  }
}
